.contact-info {
    font-size:12px;
}
.nav-links {
    font-size:19px;
    font-weight: 500;
    color: black !important;
}
.nav-links:hover {
    color: skyblue !important;
}
.nav-items {
    margin-right: 100px;
    padding: 5px;
}
.nav-icon {
    margin-right: 15px;;
}  
.s-image {
    padding: 15px;
    width: 650px;
    margin-right: 5px;
    border-radius: 30px;
}
.title {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.description {
    font-size: 20px;
    line-height: 45px;
}
.background {
    background: #343640;
    border-radius: 20px;
}
.carousel-inner {
    background-color:#343640 ;
}
.c-image {
    width: 700px;
    height: 700px;
    float: right;
    margin: 0px;
    border-radius: 20px;
}
.logo ul li {
    padding:15px;
    font-weight: 700;
}
.list li {
    padding-bottom: 10px;
    font-size: 20px;
}
.cart {
    top: 1rem;
    right: 0.3rem;
    padding: 0px 6px;
    font-size: small;
}
#col2 {
   background-color:#353535;
   margin: 0px;
   border-radius: 20px;
   margin-top: 100px;
}
.card {
    border-radius: 30px;
    margin: 100px;
    transition: all 0.3s;
  }
  .cards-wrapper {
      display: flex;
   }
   .card:hover{
      transform: scale(1.15);
   }.image-wrapper {
      height: 22vw;
   }
   .card-img-top {
      border-radius: 30px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
   }